@font-face {
  font-family: 'ZingRustBase';
  src: url('/fonts/ZingRustDemo-Base.woff2') format('woff2'), url('/fonts/ZingRustDemo-Base.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #e8e8e8;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  width: 200px;
  height: auto;
  border-radius: 35px;
  margin-right: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.wrapper {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

.page-content {
  margin-top: 40px;
  padding: 15px 0;
  flex: 1;
}

h1, h2 {
  color: #333;
}

h2 {
  font-size: 1.8rem;
  margin-top: 50px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.feature-list td {
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 15px;
  border: 1px solid #ddd;
}

.feature-list span {
  margin-right: 10px;
  color: #01D488;
  font-weight: bold;
}

.sleek-underline {
  display: inline-block;
  position: relative;
  padding-bottom: 8px;
}

.sleek-underline::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  background-color: #fda400;
  border-radius: 10px;
  opacity: 0.8;
}
