@font-face {
    font-family: 'ZingRustBase';
    src: url('fonts/ZingRustDemo-Base.woff2') format('woff2'),
         url('fonts/ZingRustDemo-Base.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@media screen and (max-width: 1400px) {
    #profile {
        height: auto;
        margin-bottom: 4rem;
        margin-top: 4rem;
    }

    .about-containers {

        margin-top: 5rem;
        display: flex;
    }
}

@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    #experience, .experience-details-container {
        margin-top: 2rem;
    }
    #profile, .section-container {
        display: block;
    }

    .arrow {
        display: none;
    }
    section, .section-container {
        height: fit-content;
    }
    section {
        margin: 0 5%;
    }
    .section__pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .about-containers {
        margin-top: 5rem;
    }
}

/* Sticky iframe for ann-file.html */
.sticky-iframe {
    position: fixed;
    bottom: 20px; /* Adjust this value to control vertical positioning */
    left: 0;  /* Adjust this value to control horizontal positioning */
    width: 400px; /* Set the width of the iframe */
    height: 150px; /* Set the height of the iframe */
    border: 1px solid #e6e6e6; /* Border color and size */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for better visibility */
    z-index: 1000; /* Keep the iframe above other elements */
    background-color: #fff;
  }
  
.experience-section {
            max-width: 700px;
            margin: 10px auto;
            background-color: #fff;
            border-radius: 25px;
            padding: 30px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            position: relative;
        }

        .company {
            display: flex;
            align-items: center;
            margin-bottom: 5px;
            width: 100%;
        }

        .company-logo {
            width: 50px;
            height: 50px;
            border-radius: 4px;
            background-color: #fff;
        }

        .company-details {
            font-size: 1.1em;
            margin-left: 10px;
        }

        .job-title {
            font-weight: bold;
            font-size: 1em;
            margin-bottom: 5px;
        }

        .duration {
            color: #777;
            font-size: 0.9em;
        }
        .duration-right {
            margin-left: auto;
            text-align: right;
            font-size: 0.9em;
            color: #777;
        }
          

          
        .description {
            margin: 5px 0;
        }

        .description ul {
            padding-left: 0px;
            list-style: disc;
        }

        .description ul li {
            margin-bottom: 0px;
        }

        .skills {
            color: #0073b1;
            font-size: 0.95em;
        }

        .bio-container {
            display: flex;
            align-items: center;
            gap: 20px; /* Adjust the space between the image and text */
          }
        
          .bio-image {
            width: auto;
            height: 150px;
            border-radius: 50%;
          }
        
          .bio-details {
            flex: 1; /* Allows the details section to take up remaining space */
          }

@media screen and (max-width: 600px) {
    #contact, footer {
        height: 40vh;
    }
    #profile {
        height: auto;
        margin-bottom: 0;
        margin-top: 20vh;
    }
    article {
        font-size: 1rem;
    }
    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-containers, contact-info-upper-container, btn-container {
        flex-wrap: wrap;
    }

    .contact-info-container {
        margin: 0;
    }
    .contact-info-container p, .nav-links li a {
        font-size: 1rem;
    }

    .experience-sub-title {
        font-size: 1.25rem;
        text-align: left;
    }

    .logo {
        font-size: 1.5rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section__pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;
    }
    .section__text__p2 {
        font-size: 1.25rem;
    }
    .title {
        font-size: 2rem;
    }
    .text-container {
        text-align: justify;
    }

    .timeline {
        position: relative;
        margin-left: 30px;
    }

    .timeline::before {
        content: '';
        position: absolute;
        top: 0;
        left: 12px;
        width: 2px;
        height: 100%;
        background-color: #d3d3d3;
    }

    .experience-section {
        position: relative;
        max-width: 600px;
        margin: 20px auto 40px;
        background-color: #fff;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .timeline-circle {
        position: absolute;
        left: -42px;
        top: 20px;
        width: 16px;
        height: 16px;
        background-color: black;
        border-radius: 50%;
    }

    .promotion-line {
        position: absolute;
        left: -34px;
        top: 36px;
        width: 2px;
        height: calc(100% - 72px);
        background-color: #d3d3d3;
    }

    /*****/
    button {
        font-family: inherit;
        font-size: 20px;
        background: royalblue;
        color: white;
        padding: 0.7em 1em;
        padding-left: 0.9em;
        display: flex;
        align-items: center;
        border: none;
        border-radius: 16px;
        overflow: hidden;
        transition: all 0.2s;
        cursor: pointer;
      }
      
      button span {
        display: block;
        margin-left: 0.3em;
        transition: all 0.3s ease-in-out;
      }
      
      button svg {
        display: block;
        transform-origin: center center;
        transition: transform 0.3s ease-in-out;
      }
      
      button:hover .svg-wrapper {
        animation: fly-1 0.6s ease-in-out infinite alternate;
      }
      
      button:hover svg {
        transform: translateX(1.2em) rotate(45deg) scale(1.1);
      }
      
      button:hover span {
        transform: translateX(5em);
      }
      
      button:active {
        transform: scale(0.95);
      }
      
      @keyframes fly-1 {
        from {
          transform: translateY(0.1em);
        }
      
        to {
          transform: translateY(-0.1em);
        }
      }
      
}

.arrow-link .back-arrow {
    display: inline-flex;
    align-items: left;
    text-decoration: none;
    color: #858c94;
    font-weight: bold;
    font-size: 16px;
    margin-right: 20px;
    transition: color 0.3s ease;
}

.back-arrow:hover {
    color: #fcc12f;
}

.show-more {
    position: absolute;
    right: 20px;  /* Adjust this value to position the button horizontally */
    bottom: 10px; /* Adjust this value to position the button vertically */
}
.arrow-link {
    display: flex;
    color: #858c94;
    background-color: transparent;
    text-transform: uppercase;
    transition: all .3s ease;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    letter-spacing: 1px;
    font-size: 14px;
    text-decoration: none;

    
}

.arrow-link > .arrow {
    width: 8px;
    height: 8px;
    border-right: 2px solid #858c94;
    border-bottom: 2px solid #858c94;
    position: relative;
    transform: rotate(-45deg);
    margin-left: 3px;
    transition: all .3s ease;
}

.arrow-link:visited {
    color: #858c94;  /* Same color as the unvisited state */
}

.arrow-link > .arrow::before {
    display: block;
    background-color: #232b36;
    width: 3px;
    transform-origin: bottom right;
    height: 2px;
    position: absolute;
    opacity: 0;
    bottom: calc(-2px / 2);
    transform: rotate(45deg);
    transition: all .3s ease;
    content: "";
    right: 0;
}

.arrow-link:hover > .arrow {
    transform: rotate(-45deg) translate(4px, 4px);
    border-color: #232b36;
}

.arrow-link:hover > .arrow::before {
    opacity: 1;
    width: 15px;
}

.arrow-link:hover {
    color: #232b36;
    text-decoration: none;
}

.show-more-yellow .arrow-link:hover {
    color: #fcc12f; /* Custom hover color */
}

.show-more-yellow .arrow-link:hover > .arrow {
    border-color: #fcc12f; /* Arrow color on hover */
}

.show-more-yellow .arrow-link:hover > .arrow::before {
    background-color: #fcc12f; /* Arrow 'line' color */
}

.show-more-red .arrow-link:hover {
    color: #d00000; /* Custom hover color */
}

.show-more-red .arrow-link:hover > .arrow {
    border-color: #d00000; /* Arrow color on hover */
}

.show-more-red .arrow-link:hover > .arrow::before {
    background-color: #d00000; /* Arrow 'line' color */
}

.show-more-blue .arrow-link:hover {
    color: #00268b; /* Custom hover color */
}

.show-more-blue .arrow-link:hover > .arrow {
    border-color: #00268b; /* Arrow color on hover */
}

.show-more-blue .arrow-link:hover > .arrow::before {
    background-color: #00268b; /* Arrow 'line' color */
}

	




